<!DOCTYPE HTML>

<html>
	<head>
		<title>bnano.info</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="static/images/avatar.png" alt="" /></span>
							<h1 id="title">gr0vity</h1>
							<p>tinkerer-turned-developer </p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>																	
								<li><a href="#overview" id="portfolio-link"><span class="icon solid fa-th">overview</span></a></li>
								<li><a href="#donate" id="top-link"><span class="icon solid fa-coffee ">donate ♥</span></a></li>		
							</ul>
						</nav>

					<!-- Social Icons -->
					<ul class="icons">
						<li><a href="https://github.com/gr0vity-dev/" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://reddit.com/u/gr0vity/" class="icon brands fa-reddit"><span class="label">Reddit</span></a></li>
					</ul>

				</div>				

			</div>

		<!-- Main -->
			<div id="main">	
				
				<!-- Portfolio -->
				<section id="overview" class="two">
					<div class="container">

						<header>
							<h2>bnano.info overview</h2>
						</header>							

						<div class="row">
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://nanolooker.bnano.info" class="image fit"><img src="static/images/nanolooker_beta.png" alt="" /></a>
									<header>
										<h3>BETA nanolooker block explorer</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://nanoticker.bnano.info" class="image fit"><img src="static/images/nanoticker_beta.png" alt="" /></a>
									<header>
										<h3>BETA nanoticker network performance</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://bit.ly/nanoBetaBootstrap" class="image fit"><img src="static/images/nano-insights_beta1.png" alt="" /></a>
									<header>
										<h3>LIVE daily network speed test</h3>
									</header>
								</article>	
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://nault.bnano.info" class="image fit"><img src="static/images/nault_beta.png" alt="" /></a>
									<header>
										<h3>BETA nault web wallet</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://votes.bnano.info" class="image fit"><img src="static/images/nano-votes.png" alt="" /></a>
									<header>
										<h3>BETA vote visualizer</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://bit.ly/nanoTestBootstrap" class="image fit"><img src="static/images/nano-insights_test1.png" alt="" /></a>
									<header>
										<h3>TEST daily network speed test</h3>
									</header>
								</article>	
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://tps.bnano.info/beta" class="image fit"><img src="static/images/nano-cps_beta.png" alt="" /></a>
									<header>
										<h3>BETA daily network speed test</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://tps.bnano.info/prod" class="image fit"><img src="static/images/nano-cps_prod.png" alt="" /></a>
									<header>
										<h3>LIVE daily network speed test</h3>
									</header>
								</article>
								<article class="item">
									<a href="http://bit.ly/nanoProdTelemetry	" class="image fit"><img src="static/images/nano-insights_prod_telemetry.png" alt="" /></a>
									<header>
										<h3>LIVE telemetry Top20 representatives</h3>
									</header>
								</article>
							</div>
						</div>

					</div>
				</section>

				<section id="donate" class="two">
					<div class="container">
						<div class="row">
							
							<div class="col-3 col-12-mobile"></div>
							<div class="col-6 col-12-mobile">
								<h4 style="text-align:center">If you like my work, feel free to donate some nano ♥</h4>
								<div class="image fit"><img src="static/images/IMG_15A2D40851F7-1.jpeg" alt="" /></div>								
							</div>							
						</div>
						<div class="row">
							<h4 style="text-align:center">nano_118tih7f81iiuujdezyqnbb9aonybf6y3cj7mo7hbeetqiymkn16a67w8rkp</h4>
						</div>
				</section>
					

			</div>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>